<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8">

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">

    <title>税优万能保险产品万能账户</title>

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <style>
        body {
            height: 100%;
        }
    </style>
    <script type="text/javascript" th:src="@{/js/mobile.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div class="body">
    <div class="ground-back">
        <div class="center">
            <p class="head-text center-text">个人账户价值</p>
        </div>
    </div>
    <div class="ground-back1"> <!--style="margin: 4vh auto;"-->
        <div class="center">
            <p class="head-text1 center-text">****.**&nbsp;元</p>
        </div>
    </div>

    <div class="ground-back">
        <div class="center">
            <p class="head-text center-text">个人账户管理</p>
        </div>
    </div>

    <div class="ground-back1">
        <div class="head-text3">
            <p class="head-text2 center">初始账户金额
                <span class="inlineblock rightfloat">
              <span>****</span>
              &nbsp;元
            </span>
            </p>
        </div>
        <div class="head-text3">
            <p class="head-text2 center">上月结算利率
                <span class="inlineblock rightfloat">
              <span>5.1%</span>
              &nbsp;元
            </span>
            </p>
        </div>
        <div class="head-text3">
            <p class="head-text2 center">上月结算利息
                <span class="inlineblock rightfloat">
              <span>**.**</span>
              &nbsp;元
            </span>
            </p>
        </div>
        <div class="head-text3">
            <p class="head-text2 center">累计结算利息
                <span class="inlineblock rightfloat">
              <span>***.**</span>
              &nbsp;元
            </span>
            </p>
        </div>
        <div class="head-text3">
            <p class="head-text2 center">最低保证利率
                <span class="inlineblock rightfloat">
              <span>2.5%</span>
              &nbsp;元
            </span>
            </p>
        </div>
    </div>

    <div class="clear ground-back">
        <div class="center">
            <p class="head-text center-text">差额返还</p>
        </div>
    </div>

    <div class="ground-back1">
        <div class="head-text3">
            <p class="head-text2 center">上年差额返还金额
                <span class="inlineblock rightfloat">
              <span>***.**</span>
              &nbsp;元
            </span>
            </p>
        </div>
        <div class="head-text3">
            <p class="head-text2 center">累计差额返还金额
                <span class="inlineblock rightfloat">
              <span>***.**</span>
              &nbsp;元
            </span>
            </p>
        </div>
    </div>

    <div class="ground-back">
        <div class="center">
            <p class="head-text center-text">保单状态报告</p>
        </div>
    </div>
    <div class="ground-back1">
        <div class="head-text3">
            <p class="head-text2 center">季度保单状态报告

            </p>
        </div>
        <div class="head-text3">
            <p class="head-text2 center">年度保单状态报告

            </p>
        </div>
    </div>
</div>

</body>
</html>
